.lightning-icon-orange {
    --lwc-colorTextIconDefault: #FFB224;
}

.lightning-icon-black {
    --lwc-colorTextIconDefault: black;
}

.card {
    border-radius: 1rem;
    /*height: calc(100vh - 55px);*/
}

.button {
    background-color: black;
}