.lightning-icon-orange {
    --lwc-colorTextIconDefault: #FFB224;
}

.lightning-icon-black {
    --lwc-colorTextIconDefault: black;
}

.button {
    background-color: black;
    justify-content: center;
}